* {
  box-sizing: border-box;
}


.preview-baku {
  background-image: url('../images/baku.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.preview-london {
  background-image: url('../images/london.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.preview-madrid {
  background-image: url('../images/madrid.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.preview-rome {
  background-image: url('../images/rome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

div {
  background-color: #ffffff;
  margin: 2%;
  padding: 80px 50px 250px 50px;
  width: 100%;
  float: left;
}

/* Media Queries */

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 22%;
  }
}



/* I did it the long way then realized I could
just apply it to div

I didn't want to delete the work so I just commented
it out.

.preview-baku {
  background-color: #ffffff;
  background-image: url('/images/baku.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50px;
  padding: 50px;
  width: 100%;
}

.preview-london {
  background-color: #ffffff;
  margin: 10px;
  padding: 150px 50px 180px 50px;
  width: 100%;
}

.preview-madrid {
  background-color: #ffffff;
  margin: 10px;
  padding: 150px 50px 180px 50px;
  width: 100%;
}

.preview-rome {
  background-color: #ffffff;
  margin: 10px;
  padding: 150px 50px 180px 50px;
  width: 100%;
}

*/

/*** TEXT ***/



body {
  margin: 8px;
  background-color: #dadada;
  font-size: 24px;
}


/*** Added code for two column design ***/
